body {
    right: 300px;
    width: 600px;
    margin: 2px auto;
    background-color: rgb(130, 0, 252);
}
img {
    width: 600px;
    right: 360px;
    border-color: rgb(255, 0, 0);
    border-radius: 5px;
}
main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 600px;
    
    border-radius: 5px;
    margin: 2px auto;
    background-color: rgba(50, 187, 255, 0.492);
}
.top {
    margin-left: 45%;
}
.container {
    background-color: #ff0000;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
}
.item {
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
    margin: 200px 2;
}
.item1{
    height: 50px;
    width: 100px;
}

.item2{
    height: 50px;
    width: 100px;
}

.item3{
    height: 50px;
    width: 100px;
}